<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turbolisten.bot.service.module.business.commonword.CommonWordDao">


    <!-- 根据 场景 查询 -->
    <select id="queryByScene"
            resultType="com.turbolisten.bot.service.module.business.commonword.domain.CommonWordDTO">
        SELECT * FROM t_common_word
        WHERE scene_type = #{scene}
        <if test="deletedFlag != null">
            AND deleted_flag = #{deletedFlag}
        </if>

    </select>

    <!-- 根据内容查询是否存在 -->
    <select id="existByContent" resultType="java.lang.Integer">
        SELECT word_id FROM t_common_word
        WHERE content = #{content}
        LIMIT 1
    </select>

</mapper>